body {
  margin-left: 50px;
  margin-top: 20px;
  padding: 20px;
  /*width: 330px;*/
}

#minRoll {
  margin-bottom: 20px;
}

input#minRoll {
  margin-left: 73px;
  margin-bottom: 20px;
  margin-top: 20px;
}

#maxRoll {
  margin-bottom: 30px;
}

input#maxRoll {
  margin-left: 70px;
}

#spinner {
  margin-top: 30px;
}

input#spinner {
  margin-left: 13px;
}

legend {
  font-size: 1.4em;
  color: crimson;
}

.ui-button ui-widget ui-corner-all {
  width: 500px;
}

section#submit {
  width: 200px;
}

label {
  font-size: 1.2em;
  color: green;
}

label minRoll {
  font-size: 300px;
}
